{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM5VmdwY6DOp-Xzb8JpyBU8XpBQL51FnMNe2l0oTi6CfPIZQdm"height="100px" width="100px" ><br>
      <b></b><br>
      100 followers
    </div>
    <div class="col-md-9">
    
      <!-- display tweets here -->
      {% for tweet in tweets %}
      
    
      <div class="container">
        <div class="row">
          <div class="img"><img src="{{tweet.img}}" height="40px" width="40px"></div>
          <div class="tweetText"><p class="tweets"><b><a href="/users/{{tweet.name}}">{{tweet.name}} </a>{{tweet.id}}</b></p></div>
            <div class="tweetText2"><a href="/users/{{tweet.id}}">{{tweet.content}}</a></div>
        </div><br>
      
      </div>
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}